{% set imgs = path ~ '/images/help/'  %}
{% set style = 'text-align:center;margin-bottom:20px' %}

<p>{{ 'To get a post’s embed HTML code using its <strong>Embed</strong> button, view the post in a desktop or mobile web browser, click the <strong>[...]</strong> menu...' | t }}</p>
<div style="{{ style }}"><img src="{{ imgs }}step_1.jpg" width="280"></div>
<p>{{ '... then click the <strong>Embed</strong> button:' | t }}</p>
<div style="{{ style }}"><img src="{{ imgs }}step_2.jpg" width="280"></div>
<p>{{ 'This will reveal the post’s embed HTML code, which you can copy and paste in the website where you want the post to appear.' | t }}</p>
<div style="{{ style }}"><img src="{{ imgs }}step_3.jpg" width="280"></div>
<p>{{ 'By default the post will include its caption, but you can omit the caption by unchecking the <strong>Include caption</strong> checkbox.' | t }}</p>
